body
{
    height:100vh;
    width:100vw;
    /* border:2px solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-color: #82AAE3;
}
.container
{
    height:400px;
    width:500px;
    /* border:2px solid green; */
    padding:7px;
    position:relative;
    border-radius: 9px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    background-color:#91D8E4;

}
.box
{
    /* display: flex; */
    position: relative;
    transition:all 0.5s ease-in-out;
}
.box .items
{
    position: absolute;
    height:100%;
    width:100%;
    background:#cfc4c4;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.items p
{
    letter-spacing: 2px;
    color:rgb(80, 78, 76);
    margin-top:30px;
    line-height:1.3;
}
img
{
    height:140px;
    width:162px;
    border-radius:50%;
    align-self: center;
}
.btn
{
    position:relative;
    height:40px;
    width:100px;
    border-radius: 9px;
    outline:none;
    border:none;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.5);
    color:goldenrod;
    background-color:rebeccapurple;
}
.button
{
    width:400px;
    display: flex;
    justify-content: space-around;
    margin-top:20px;
}