html {
    font-size: 90%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border:2px solid red; */
}

.navbar {
    background-color: black !important;
}

section {
    padding: 4rem 3%;
}

.home {
    background: url("./pexels-isaac-taylor-2229671.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.home::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background-color: rgba(3, 3, 3, 0.541);
    z-index: 4;
}

.home>* {
    z-index: 5;
    ;
}

.home img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 7px solid rgba(255, 255, 255, 0.71);
    filter: contrast(1);
}

.home .heading {
    font-size: 3rem;
    color: rgb(222 195 0);
    margin-bottom: 0rem;
    letter-spacing: 2px;
}

.home .title {
    /* border:2px solid red; */
    padding: 0.6rem 3rem;
    font-size: 1.3rem;
    background-color: rgba(128, 128, 128, 0.45);
    color: white;
}

.para {
    color: rgb(240, 250, 240);
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.icons {
    /* border:2px solid red; */
    width: 20rem;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    color: rgb(65, 90, 90);
}

.icons>*:hover {
    color: green;
    margin-bottom:2px;
}

/* --------End-Of-Nav------ */
.work {
    height: 45rem;
    width: 100%;
    /* border:2px solid red; */
    display: flex;
    gap: 20px;
}

.work>* {
    flex-basis: 100%;
    /* border:2px solid green; */
}

.work .left {
    background: url("./camera-1130731_1920.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.6rem;
    transition: all 0.5s ease-in-out;
    position: relative;
    z-index: -1;
}

.left::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.379);

}

.left:hover .work-text {
    color: blue;

}

.work-text {
    position: relative;
    z-index: 5;
    color: #ff6907cc;
    transition: all 0.5s ease-in-out;
}

.nk {
    display: flex;
    height: 65%;
    width: 100%;
    gap: 10px;
}

.nk>* {
    flex-basis: 100%;
}

.img1 img,
.img2 img {
    height: 100%;
    width: 100%;
    border-radius: 2px;
    background-size:cover;
    background-position:center;
}

.right h3 {
    color: rgb(69, 67, 66);
    font-size: 1.4rem;
}

.right p {
    color: black;
    font-size: 1.1rem;
}

.right h4 {
    font-size: 1.3rem;
    margin-top: 3px;
    margin-left: 1px;
}
/* ------End-Of-Work----- */
.follow
{
    height:max-content;
}
.follow h2,.follow p
{
    text-align:center;
    margin-bottom:10px;
}
.images-grid
{
    display:grid;
    height:25rem; 
    /* border:2px solid red; */
    grid-template-columns:repeat(4,1fr);
    margin-top:20px;
    gap:8px;
    height:max-content;
}
.images-grid > div > *
{
    height:100%;
    width:100%;

}
.footer
{
    /* border:2px solid red; */
    padding:5rem 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(18, 25, 32);

}
.footer-heading
{
    color:greenyellow;
    font-weight:500;
    font-size:2rem;
}
.footer .fleft,.fright
{
    padding:3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    
    /* border:2px solid red; */
}
.fleft p
{
    max-width: 400px;
    margin-top:10px;
    color:beige;
    font-size:0.98rem;
    /* font-family: 'poppins'; */  
}
.subs
{
    color:azure;
    font-size:1.5rem;
}
.fright p
{
    color:rgb(113, 112, 112);
}
.inputdiv
{
    /* border:2px solid red; */
    font-size:1.4rem;
    color:white;
    background-color: rgb(21, 20, 20);
    display: flex;
    justify-content:center;
    align-items:center;
}
.inputdiv i
{
    margin:0px 5px;
}
.fright input
{
    border:0;
    outline:0;
    background-color: rgb(20, 18, 18);
    color:white;
}
.btn
{
    background-color:greenyellow;
    font-size:1.2rem;
}

























/* -------Media-Querys------------- */
@media (max-width:968px) {
    html {
        font-size: 80%;
    }

    .right h3 {
        color: rgb(69, 67, 66);
        font-size: 1.2rem;
    }

    .right p {
        color: black;
        font-size: .9rem;
    }

    .right h4 {
        font-size: 0.9rem;
        margin-top: 3px;
        margin-left: 1px;
    }
    .images-grid
    {
        grid-template-columns: 1fr;
        grid-auto-flow: auto;
        place-items:center;
    }
    .images-grid > *
    {
        height:30rem;
        width:30rem;
    }


}

@media (max-width:768px) {
    html {
        font-size: 60%;
    }
    .work
    {
        flex-direction: column;
        height:100rem;
    }
    .work .left
    {
        height:30rem;
    }
    .right h3 {
        color: rgb(69, 67, 66);
        font-size: 1.4rem;
    }
    
    .right p {
        color: black;
        font-size: 1.1rem;
    }
    
    .right h4 {
        font-size: 1.3rem;
        margin-top: 3px;
        margin-left: 1px;
    }
    .footer
    {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

}

@media (max-width:578px) {}